<div class="main-page">
    <h1>{{ 'users.profile' | translate }}</h1>

    <hr>

    <div *ngIf="user && user.id">
        <h3>{{ 'app.common.operations' | translate }}</h3>
        <ul>
            <li><a [routerLink]="['/user', user.id, 'password']">{{ 'users.operations.change_password' | translate }}</a></li>
            <li *ngIf="user && !user.verified"><a [routerLink]="['/register', user.id]">{{ 'users.operations.verify' |
                    translate }}</a></li>
        </ul>
    </div>

    <hr>

    <div>
        <h3>{{ 'users.details' | translate }}</h3>
        <i *ngIf="!!!user" class="icon icon-rotate" style="font-size: 5em"></i>
        <user-details *ngIf="user" [user]="user"></user-details>
    </div>

    <hr>

    <form (submit)="submit(user)">
        <button [disabled]="busy" class="left btn-primary">{{ 'app.common.save' | translate }}</button>
        <button type="button" class="right btn-secondary" (click)="return()">{{ 'app.common.cancel' | translate }}</button>
    </form>

    <app-activity-indicator [message]="'app.activity.loading' | translate" [isLoading]="busy"></app-activity-indicator>
</div>