@import "~/scss/variables";

.action-bar-custom {
  color: $c-white;
  margin-top: 26;
  margin-bottom: 16;
}
.action-bar-custom Label {
  font-size: 21;
  font-weight: bold;
}
.action-bar-custom StackLayout {
  height: 40;
  padding-left: 15;
  padding-right: 15;
  vertical-align: center;
  horizontal-align: center;
}

ActivityIndicator {
  horizontal-align: center;
  vertical-align: center;
}

.left {
  margin-right: auto;
}
.right {
  margin-left: auto;
}
