@import '../../../scss/variables';

form {
  display: flex;
}
input {
  flex: 5;
  margin-right: 0.5em;
  display: block;
  width: 100%;
}

.lnk-container {
  overflow: hidden;
}
.lnk-container button {
  float: right;
}

.send-token-verification-label {
  text-align: left;
  padding-top: 10px;
}
.send-token-verification-label a {
  cursor: pointer;
}
