<div class="main-page">
  <h1>{{ 'register.title' | translate }}</h1>

  <div class="send-token-verification-label">
    <a (click)="sendToken()">{{ 'register.resend_token' | translate }}</a>
  </div>

  <hr>

  <div>
    <label>
      {{ 'register.token' | translate }}
      <input [placeholder]="'register.token_placeholder' | translate" name="token" type="text" required autofocus
        [(ngModel)]="token">
    </label>
  </div>

  <hr>

  <form (submit)="submit()">
    <button class="left btn-primary" [disabled]="valid">{{ 'register.complete' | translate }}</button>
    <button type="button" class="right btn-secondary" (click)="cancel()">{{ 'app.common.cancel' | translate }}</button>
  </form>
</div>