@import '~/scss/variables';


.link-container {
  overflow: hidden;
}
.link-container button {
  float: right;
}

.send-token-reset-password-label {
  text-align: left;
  padding-top: 10;
}
.send-token-reset-password-label a {
  cursor: pointer;
}
