
@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?gfr0pg');
  src:  url('#{$icomoon-font-path}/icomoon.eot?gfr0pg#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?gfr0pg') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?gfr0pg') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?gfr0pg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 100%;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rotate {
  height: 1em;
  width: 1em;
  display: inline-block;
  
  transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: Rotate 1000ms infinite linear;
  -moz-animation: Rotate 1000ms infinite linear;
  -ms-animation: Rotate 1000ms infinite linear;
  -o-animation: Rotate 1000ms infinite linear;
  animation: Rotate 1000ms infinite linear;
}
@-o-keyframes Rotate {
  from {-o-transform:rotate(0deg);}
  to {-o-transform:rotate(360deg);}
}
@-moz-keyframes Rotate {
  from {-moz-transform:rotate(0deg);}
  to {-moz-transform:rotate(360deg);}
}
@-ms-keyframes Rotate {
  from {-ms-transform:rotate(0deg);}
  to {-ms-transform:rotate(360deg);}
}
@-webkit-keyframes Rotate {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
@keyframes Rotate {
  from { transform:rotate(0deg);}
  to { transform:rotate(360deg);}
}

/* IcoMoon classes */
@import "../x-shared/scss/icomoon";
