@import '../../scss/variables';

form {
  display: flex;
}
input, select {
  flex: 5;
  margin-right: 0.5em;
}

.lnk-container {
  overflow: hidden;
}

button.left {
  float: left;
}
button.right {
  float: right;
}
