<div class="list-page">
  <h1>{{ 'parameters.management' | translate }}</h1>

  <div class="link-container">
    <button (click)="isConfirmingAddition ? cancelAddition() : toggleAddition()" [type]="isConfirmingAddition ? 'reset' : 'submit'"
      [class]="isConfirmingAddition ? 'btn-secondary' : 'btn-primary'" style="float: right;">
      {{ (isConfirmingAddition ? 'app.common.cancel' : 'app.common.add') | translate }}
    </button>
  </div>

  <br>

  <form (submit)="add()" [class.hidden]="!isConfirmingAddition">

    <parameter-details #parameterDetails [parameter]="newParameter"></parameter-details>

    <div class="form-controls">
      <button type="submit" class="left btn-primary" style="float: left;">
        {{ 'app.common.confirm' | translate }}
      </button>

      <button (click)="cancelAddition()" type="reset" class="btn-secondary" style="float: right;">
        {{ 'app.common.cancel' | translate }}
      </button>
    </div>
  </form>

  <hr>

  <div class="link-container">
    <button (click)="toggleMassDelete()" class="left btn-primary" [class.hidden]="!isConfirmingDeletion" style="float: left;">
      {{ 'app.common.confirm' | translate }}
    </button>

    <button (click)="isConfirmingDeletion ? cancelMassDelete() : toggleMassDelete()" [class]="isConfirmingDeletion ? 'btn-secondary' : 'btn-primary'"
      style="float: right;">
      {{ (isConfirmingDeletion ? 'app.common.cancel' : 'app.common.delete') | translate }}
    </button>
  </div>

  <parameter-list [showSelection]="isConfirmingDeletion" (loaded)="hideLoadingIndicator()"></parameter-list>
</div>

<activity-indicator [isLoading]="isLoading"></activity-indicator>