<div class="main-page">
  <h1>{{ 'parameters.management' | translate }}</h1>

  <div class="link-container">
    <button (click)="isConfirmingDeletion ? cancelMassDelete() : toggleMassDelete()" [class]="'left ' + (isConfirmingDeletion ? 'btn-secondary' : 'btn-primary')">
      {{ (isConfirmingDeletion ? 'app.common.cancel' : 'app.common.delete') | translate }}
    </button>

    <button [routerLink]="['/parameter']" class="right btn-primary" [class.hidden]="isConfirmingDeletion">
      {{ 'app.common.add' | translate }}</button>
    <button (click)="toggleMassDelete()" class="right btn-primary" [class.hidden]="!isConfirmingDeletion">
      {{ 'app.common.confirm' | translate }}</button>
  </div>

  <hr>

  <parameter-list [showSelection]="isConfirmingDeletion" (loaded)="hideLoadingIndicator()"></parameter-list>
</div>

<activity-indicator [isLoading]="isLoading"></activity-indicator>