<div class="main-page">
    <h1>{{ 'roles.info' | translate }}</h1>

    <hr>

    <div>
        <i *ngIf="!!!role" class="icon icon-rotate" style="font-size: 5em"></i>
        <role-details *ngIf="role" [role]="role"></role-details>
    </div>

    <hr>

    <form (submit)="submit(role)">
        <button [disabled]="busy" class="left btn-primary">{{ 'app.common.save' | translate }}</button>
        <button type="button" class="right btn-secondary" (click)="return()">{{ 'app.common.cancel' | translate }}</button>
    </form>

    <app-activity-indicator [message]="'app.activity.loading' | translate" [isLoading]="busy"></app-activity-indicator>
</div>