# Ignore SCM and IDE items
.git
.idea
.project
.eclipse
.vscode

# NativeScript
nativescript/node_modules/
nativescript/platforms/
nativescript/hooks/
nativescript/app/**/*.js
nativescript/app/x-shared/

# Angular
web/dist/dist
web/node_modules
web/src/x-shared/

# compiled output
/tmp
/out-tsc

# dependencies
/node_modules

# gradle
gradle/
.gradle/
bin/

# eclipse
.project
.classpath
.settings

#ant specific
dist/
build/

#netbeans specific
#core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml

#spring specific
.springBeans

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
Thumbs.db

# Docs
docs/

# Docker files
docker-compose*.yml

# CI
Jenkinsfile
.travis.yml
.gitlab-ci.yml

# Custom files
.docker/
.docker-build-date
.docker-build
manage.sh
