<div>
    <label>
        {{ 'users.email' | translate }}
        <input [placeholder]="'users.email_placeholder' | translate" name="email" type="email" required [(ngModel)]="email">
    </label>
</div>

<div>
    <label>
        {{ 'users.token' | translate }}
        <input [placeholder]="'users.token_placeholder' | translate" name="token" type="text" required [(ngModel)]="token">
    </label>
</div>

<div>
    <label>
        {{ 'users.password.new_password' | translate }}
        <input [placeholder]="'users.password.new_password_placeholder' | translate" name="password" type="password" required
            [(ngModel)]="password">
    </label>
</div>

<div>
    <label>
        {{ 'users.password.confirm_password' | translate }}
        <input [placeholder]="'users.password.confirm_password_placeholder' | translate" name="confirm_password" type="password"
            required [(ngModel)]="newPasswordConfirmation">
    </label>
</div>