<div *ngIf="role">
    <label>
        {{ 'entity.role.name' | translate }}
        <input [placeholder]="'entity.role.name' | translate" name="name" required autofocus autocapitalize="off"
            autocorrect="off" [(ngModel)]="role.name">
    </label>

    <label>
        {{ 'entity.role.permissions' | translate }}
        <i *ngIf="ready.count == 0" class="icon icon-rotate"></i>
        <select [(ngModel)]="role.permissions" [disabled]="ready.count == 0" multiple>
            <option *ngFor="let p of items | async" [ngValue]="p.id">{{ p.name }}</option>
        </select>
    </label>

    <div *ngIf="role.id" class="technical-details">
        <label>
            {{ 'entity.id' | translate }}
            <span>{{ role.id }}</span>
        </label>

        <label>
            {{ 'entity.created_at' | translate }}
            <span>{{ role.createdAt | date:'short' }}</span>
        </label>
        <label>
            {{ 'entity.created_by' | translate }}
            <span>{{ role.createdBy }}</span>
        </label>

        <label>
            {{ 'entity.modified_at' | translate }}
            <span>{{ role.modifiedAt | date:'short' }}</span>
        </label>
        <label>
            {{ 'entity.modified_by' | translate }}
            <span>{{ role.modifiedBy }}</span>
        </label>

        <label>
            {{ 'entity.owner' | translate }}
            <span>{{ role.owner }}</span>
        </label>
    </div>

</div>