// Saas Variables

// grey palette
$c-white:    #fff !default;
$c-grey-100: #f8f9fa !default;
$c-grey-200: #e9ecef !default;
$c-grey-300: #dee2e6 !default;
$c-grey-400: #ced4da !default;
$c-grey-500: #adb5bd !default;
$c-grey-600: #6c757d !default;
$c-grey-700: #495057 !default;
$c-grey-800: #343a40 !default;
$c-grey-900: #212529 !default;
$c-black:    #000 !default;


// common colors
$c-blue:    #007bff !default;
$c-indigo:  #6610f2 !default;
$c-purple:  #6f42c1 !default;
$c-pink:    #e83e8c !default;
$c-red:     #dc3545 !default;
$c-orange:  #fd7e14 !default;
$c-yellow:  #ffc107 !default;
$c-green:   #28a745 !default;
$c-teal:    #20c997 !default;
$c-cyan:    #17a2b8 !default;

// theme colors
$c-primary:     #2e008b;
$c-secondary:   #fc2140;
$c-accent:      lighten($c-secondary, 10%);
$c-dark-accent: darken($c-secondary, 10%);

$c-success:       $c-green !default;
$c-info:          $c-cyan !default;
$c-warning:       $c-yellow !default;
$c-danger:        $c-red !default;
$c-light:         $c-grey-100 !default;
$c-dark:          $c-grey-800 !default;

// TODO Use SCSS arrays to generate theme classes
/*
$colors: (
    "white": ($c-white, $c-black),
    "black": ($c-black, $c-$white),
    "light": ($c-light, $c-light-invert),
    "dark": ($c-dark, $c-dark-invert),
    "primary": ($primary, $c-primary-invert),
    "info": ($info, $c-info-invert),
    "success": ($c-success, $c-success-invert),
    "warning": ($c-warning, $c-warning-invert),
    "danger": ($c-danger, $c-danger-invert),
    "twitter": ($c-twitter, $c-twitter-invert)
);
*/

$c-primary-text: $c-grey-800;
$c-secondary-text: $c-grey-600;

$c-primary-border: $c-grey-700;
$c-secondary-border: $c-grey-400;

$c-primary-contrast: $c-grey-200;
$c-accent-contrast: $c-white;

// body

$c-body-background: $c-secondary;

// main content

$c-main-background: $c-grey-200;
$c-main-background-dark: $c-grey-700;

// menu content

$c-menu-background: $c-grey-800;
$c-menu-shadow: $c-black;
$c-menu-inset-shadow: $c-grey-300;
$c-menu-color: $c-grey-300;
$c-menu-border: $c-grey-700;

// icomoon variables
@import "icomoon/variables";
