<div *ngIf="checkOldPassword">
    <label>
        {{ 'users.old_password' | translate }}
        <input [placeholder]="'users.old_password_placeholder' | translate" name="old_password" type="password"
            required [(ngModel)]="oldPassword">
    </label>
</div>

<div>
    <label>
        {{ 'users.new_password' | translate }}
        <input [placeholder]="'users.new_password_placeholder' | translate" name="password" type="password" required
            [(ngModel)]="user.password">
    </label>
</div>

<div>
    <label>
        {{ 'users.confirm_password' | translate }}
        <input [placeholder]="'users.new_password_placeholder' | translate" name="confirm_password" type="password"
            required [(ngModel)]="newPasswordConfirmation">
    </label>
</div>