<div *ngIf="checkOldPassword">
    <label>
        Old password:
        <input placeholder="Password" name="old_password" type="password" required [(ngModel)]="oldPassword">
    </label>
</div>

<div>
    <label>
        New password:
        <input placeholder="New password" name="password" type="password" required [(ngModel)]="user.password">
    </label>
</div>

<div>
    <label>
        Confirm password:
        <input placeholder="Confirm password" name="confirm_password" type="password" required [(ngModel)]="newPasswordConfirmation">
    </label>
</div>