<div *ngIf="checkOldPassword">
    <label>
        {{ 'users.password.old_password' | translate }}
        <input [placeholder]="'users.password.old_password_placeholder' | translate" name="old_password" type="password"
            required [(ngModel)]="oldPassword">
    </label>
</div>

<div>
    <label>
        {{ 'users.password.new_password' | translate }}
        <input [placeholder]="'users.password.new_password_placeholder' | translate" name="password" type="password"
            required autofocus [(ngModel)]="user.password">
    </label>
</div>

<div>
    <label>
        {{ 'users.password.confirm_password' | translate }}
        <input [placeholder]="'users.password.new_password_placeholder' | translate" name="confirm_password" type="password"
            required [(ngModel)]="newPasswordConfirmation">
    </label>
</div>