<div class="main-page">
  <h1>{{ 'types.management' | translate }}</h1>

  <form (submit)="add()">
    <input [placeholder]=" 'entity.type.name_placeholder' | translate " name="type" type="text" required [(ngModel)]="type">
    <button>{{ 'app.common.add' | translate }}</button>
  </form>

  <hr>

  <div class="link-container">
    <button (click)="toggleMassDelete()" class="left btn-primary" [class.hidden]="!isConfirmingDeletion" style="float: left;">
      {{ 'app.common.confirm' | translate }}
    </button>

    <button (click)="isConfirmingDeletion ? cancelMassDelete() : toggleMassDelete()" [class]="isConfirmingDeletion ? 'btn-secondary' : 'btn-primary'"
      style="float: right;">
      {{ (isConfirmingDeletion ? 'app.common.cancel' : 'app.common.delete') | translate }}
    </button>
  </div>

  <type-list [filter-selected-only]="isConfirmingDeletion" (loaded)="hideLoadingIndicator()"></type-list>
</div>

<activity-indicator [isLoading]="isLoading"></activity-indicator>