<div class="login-page list-page" [class.dark]="!isLoggingIn">
  <header>
    <span class="logo">
      <img src="./assets/logo.svg" alt="MyApp logo">
    </span>
  </header>

  <h1>{{ appName }}</h1>
  <form (ngSubmit)="submit()" #registerForm="ngForm">
    <div>
      <label>
        Email:
        <input placeholder="Email Address" name="email" type="email" required autocapitalize="off" autocorrect="off" [(ngModel)]="user.email"
          [disabled]="isAuthenticating">
      </label>
    </div>

    <div>
      <label>
        Password:
        <input placeholder="Password" name="password" type="password" required [(ngModel)]="user.password" [disabled]="isAuthenticating">
      </label>
    </div>

    <div class="forgot-password-label" *ngIf="isLoggingIn">
      <a (click)="forgotPassword()">
        Forgot password?
      </a>
    </div>

    <div class="center">
      <button class="big btn-primary" [disabled]="!registerForm.form.valid || isAuthenticating">
        <i *ngIf="isAuthenticating" class="icon-rotate icon-spinner10" style="font-size: 1em"></i>
        <span *ngIf="isAuthenticating">Loading</span>
        <span *ngIf="!isAuthenticating">{{ isLoggingIn ? 'Login' : 'Register' }}</span>
      </button>
      <button type="button" class="btn-plain" (click)="toggleDisplay()" [disabled]="!registerForm.form.valid && isAuthenticating">
        <span>{{ isLoggingIn ? 'Sign Up' : 'Back to Login' }}</span>
      </button>
    </div>
  </form>
</div>