<div class="list-page">
  <h1>{{ 'users.reset_password_management' | translate }}</h1>

  <div class="send-token-reset-password-label">
    <a (click)="sendToken()">{{ 'users.resend_reset_token' | translate }}</a>
  </div>

  <hr>

  <div>
    <change-password #passwordManager [email]="email" [token]="token" [password]="password"></change-password>
  </div>

  <hr>

  <form #passwordForm="ngForm" (submit)="submit()">
    <button class="left btn-primary" [disabled]="!passwordForm.form.valid">{{ 'users.reset_password' | translate }}</button>
    <button type="button" class="right btn-secondary" (click)="cancel()">{{ 'app.common.cancel' | translate }}</button>
  </form>
</div>