@import '../../../scss/variables';

form {
  display: flex;
}
input {
  flex: 5;
  margin-right: 0.5em;
}

.link-container {
  overflow: hidden;
}
.link-container button {
  float: right;
}

.send-token-reset-password-label {
  text-align: left;
  padding-top: 10px;
}
.send-token-reset-password-label a {
  cursor: pointer;
}
