<ul class="entity-list">
    <li *ngFor="let type of store.items | async | typeStatus:showSelection">
        <i [class]="'icon ' + imageSource(type)" (click)="toggleSelection(type)"></i>

        <a [routerLink]="allowEdit ? ['/type', type.id] : ['.']" [class.selected]="type.selected && !type.deleted">{{
            type.name }}</a>

        <button *ngIf="allowDelete" [class.hidden]="type.deleted || type.deleting" class="btn-secondary" (click)="delete(type)">
            <i class="icon icon-cross"></i>
        </button>
        <i *ngIf="allowDelete" [class.hidden]="type.deleted || !type.deleting" class="icon icon-rotate icon-spinner10"></i>

    </li>
</ul>
<pagination-controls [pagination]="pagination" (page-change)="load($event)" [first-label]="'app.pagination.first' | translate"
    [prev-label]="'app.pagination.prev' | translate" [next-label]="'app.pagination.next' | translate" [last-label]="'app.pagination.last' | translate"></pagination-controls>