<div>
    <label>
        Email
        <input placeholder="Email" name="email" type="email" required [(ngModel)]="email">
    </label>
</div>

<div>
    <label>
        Token
        <input placeholder="Token" name="token" type="text" required [(ngModel)]="token">
    </label>
</div>

<div>
    <label>
        New password
        <input placeholder="New password" name="password" type="password" required [(ngModel)]="password">
    </label>
</div>

<div>
    <label>
        Confirm password
        <input placeholder="Confirm password" name="confirm_password" type="password" required [(ngModel)]="newPasswordConfirmation">
    </label>
</div>