<div class="main-page">
    <h1>{{ 'media.info' | translate }}</h1>

    <div *ngIf="media && media.id">
        <hr>

        <h3>{{ 'app.common.operations' | translate }}</h3>
        <ul>
            <li><button (click)="download()">{{ 'media.operations.download' | translate }}</button></li>
            <li><a class="btn" [href]="publicLink()">{{ 'media.operations.direct_link' | translate }}</a></li>
        </ul>

        <img *ngIf="isImage()" [src]="publicLink()" [alt]="media.name" [title]="media.name"/>
    </div>

    <hr>

    <div>
        <h3>{{ 'media.details' | translate }}</h3>
        <i *ngIf="!!!media" class="icon icon-rotate" style="font-size: 5em"></i>
        <media-details *ngIf="media" [media]="media"></media-details>
    </div>

    <hr>

    <form (submit)="submit(media)">
        <button class="left btn-primary">{{ 'app.common.save' | translate }}</button>
        <button type="button" class="right btn-secondary" (click)="cancel()">{{ 'app.common.cancel' | translate }}</button>
    </form>
</div>