@import '../../../scss/variables';

form {
  display: flex;
}
input {
  flex: 5;
  margin-right: 0.5em;
}

.lnk-container {
  overflow: hidden;
}
.lnk-container button {
  float: right;
}
.left {
  margin-right: auto;
}
.right {
  margin-left: auto;
}
