<div class="main-page">
    <h1>{{ 'types.info' | translate }}</h1>

    <hr>

    <div>
        <i *ngIf="!!!type" class="icon-rotate icon-spinner10" style="font-size: 5em"></i>
        <type-details *ngIf="type" [type]="type"></type-details>
    </div>

    <hr>

    <form (submit)="submit(type)">
        <button class="left btn-primary">{{ 'app.common.save' | translate }}</button>
        <button type="button" class="right btn-secondary" (click)="cancel()">{{ 'app.common.cancel' | translate }}</button>
    </form>
</div>