.pagination {
  button {
    height: 35px;
    width: 35px;
    border-radius: 15x;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 2px 5px;

    i {
      font-size: 25px;
      vertical-align: baseline;
      text-align: center;
      line-height: 35px;
    }
  }
}
