<div class="main-page">
    <h1 class="title text-primary">{{ 'info.title' | translate }}</h1>

    <hr>

    <div class="info-details">
        <h3>{{ 'info.links' | translate }}</h3>
        <p>{{ 'info.description' | translate }}</p>

        <ul>
            <li><a [routerLink]="['about']">{{ 'info.about.link' | translate }}</a></li>
            <li><a [routerLink]="['install']">{{ 'info.install.link' | translate }}</a></li>
        </ul>
    </div>

    <hr>

    <div>
        <button type="button" class="center btn-secondary" (click)="back()">{{ 'app.common.back' | translate }}</button>
    </div>
</div>