<StackLayout *ngIf="checkOldPassword">
    <Label text="Old password"></Label>
    <TextField autocorrect="false" hint="password" [(ngModel)]="oldPassword" secure="true" returnKeyType="next"></TextField>
</StackLayout>

<StackLayout>
    <Label text="New password"></Label>
    <TextField autocorrect="false" hint="new password" [(ngModel)]="user.password" secure="true" returnKeyType="next"></TextField>
</StackLayout>

<StackLayout>
    <Label text="Confirm password"></Label>
    <TextField autocorrect="false" hint="new password" [(ngModel)]="newPasswordConfirmation" secure="true"></TextField>
</StackLayout>