<StackLayout *ngIf="checkOldPassword">
    <Label text="Old password"></Label>
    <TextField autocorrect="false" hint="Password" [(ngModel)]="oldPassword" secure="true" autocorrect="false" returnKeyType="next"></TextField>
</StackLayout>

<StackLayout>
    <Label text="New password"></Label>
    <TextField autocorrect="false" hint="New password" [(ngModel)]="user.password" secure="true" autocorrect="false" returnKeyType="next"></TextField>
</StackLayout>

<StackLayout>
    <Label text="Confirm password"></Label>
    <TextField autocorrect="false" hint="Confirm password" [(ngModel)]="newPasswordConfirmation" secure="true" autocorrect="false"></TextField>
</StackLayout>