.pagination {
  button {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 2px 5px;

    i {
      font-size: 2em;
      vertical-align: middle;
      text-align: center;
      line-height: 50px;
    }
  }
}
