<div [class.hidden]="!pagination.available()" class="pagination">
    <button [class.hidden]="!pagination.first" (click)="select(pagination.first)" [title]="firstLabel"><i class="icon-first"></i></button>
    <button [class.hidden]="!pagination.prev" (click)="select(pagination.prev)" [title]="prevLabel"><i class="icon-backward2"></i></button>
    <button [class.hidden]="!pagination.next" (click)="select(pagination.next)" [title]="nextLabel"><i class="icon-forward3"></i></button>
    <button [class.hidden]="!pagination.last" (click)="select(pagination.last)" [title]="lastLabel"><i class="icon-last"></i></button>
</div>