<StackLayout>

  <ActionBar title="Reset password"></ActionBar>

  <StackLayout class="send-token-reset-password-label link-container" (tap)="sendToken()">
    <Label text="Resend password reset token email"></Label>
  </StackLayout>

  <StackLayout class="hr-light"></StackLayout>

  <StackLayout>
    <mg-change-password [email]="email" [token]="token" [password]="password"></mg-change-password>
  </StackLayout>

  <StackLayout class="hr-light"></StackLayout>

  <StackLayout>
    <StackLayout class="left btn btn-primary" (tap)="submit()">
      <Label text="Reset"></Label>
    </StackLayout>

    <StackLayout class="left btn btn-secondary" (tap)="cancel()">
      <Label text="Cancel"></Label>
    </StackLayout>
  </StackLayout>
</StackLayout>