<div class="main-page">
    <h1>{{ 'users.password_management' | translate }}</h1>

    <hr>

    <div>
        <i *ngIf="!!!user" class="icon-rotate icon-spinner10" style="font-size: 5em"></i>
        <change-password #passwordManager *ngIf="user" [user]="user"></change-password>
    </div>

    <hr>

    <form #passwordForm="ngForm" (submit)="submit(user)">
        <button class="left btn-primary" [disabled]="!passwordForm.form.valid">{{ 'app.common.save' | translate }}</button>
        <button type="button" class="right btn-secondary" (click)="cancel()">{{ 'app.common.cancel' | translate }}</button>
    </form>
</div>