@import "../scss/_variables";

.top-bar {
    background-color: $c-primary;
    color: $c-primary-contrast;
    border-bottom: solid 1px $c-primary-border;
    height: 70px;
    padding: 5px 17px;

    .btn {
        box-shadow: none;
    }

    .menu {
        position: absolute;
        left: 17px;
        top: 7px;
        text-align: left;
    }

    .title {
        text-align: center;
    }

    .title img {
        max-height: 60px;
        border-radius: 5px;
    }

    .title img.notify {
        cursor: pointer;

        /* background: rgba( $c-secondary, .3 ); */
        /* box-shadow: 0 0 5px 4px rgba( $c-secondary, .3 ); */
        border-radius: 5px;

        -webkit-animation: Blink 1000ms infinite alternate;
        -moz-animation: Blink 1000ms infinite alternate;
        -ms-animation: Blink 1000ms infinite alternate;
        -o-animation: Blink 1000ms infinite alternate;
        animation: Blink 1000ms infinite alternate;
    }

    .logout {
        position: absolute;
        right: 17px;
        top: 7px;
        text-align: right;
    }

    .menu *, .title *, .logout * {
        color: $c-primary-contrast;
        font-size: xx-large;
    }
    .menu .lnk, .title .lnk, .logout .lnk {
        cursor: pointer;
    }
    .menu .lnk:hover, .menu .lnk:focus, .menu .lnk:active,
    .title .lnk:hover, .title .lnk:focus, .title .lnk:active, 
    .logout .lnk:hover, .logout .lnk:focus, .logout .lnk:active {
        color: $c-accent;
    }
}

.content-container {
    text-align: center;
}
