<ng-sidebar-container>
  <ng-sidebar [(opened)]="opened" [sidebarClass]="'app-sidebar'" [keyClose]="true" [autoFocus]="false"
    [showBackdrop]="true" [closeOnClickBackdrop]="true">
    <div class="app-menu-header">
      <a [routerLink]="['/']"><img src="./assets/images/logo.svg" [alt]="appName" [title]="promptTitle()" class="lnk"
          [class.notify]="hasPrompt()" /></a>
    </div>

    <ul class="menu">
      <li class="menu-entry" *ngFor="let menu of mainMenuEntries"><a class="menu-link" [routerLink]="menu.route"
          routerLinkActive="active">
          <i [class]="'icon ' + menu.iconClass"></i>
          {{ menu.text | translate }}
        </a></li>
    </ul>

    <div class="app-menu-control">
      <a class="lnk lnk-menu-toggle" [title]="'app.top_bar.menu.hide' | translate" (click)="toggleSidebar()">
        <i class="icon icon-circle-left"></i>
        {{ 'app.top_bar.menu.hide' | translate }}
      </a>
    </div>
  </ng-sidebar>

  <div ng-sidebar-content class="content-container">
    <div class="top-bar">
      <div class="menu">
        <span class="lnk" (click)="toggleSidebar()" [title]="'app.top_bar.menu.title' | translate">
          <i class="lnk icon icon-menu"></i>
        </span>
      </div>

      <div class="title">
        <h1><img src="./assets/images/logo.svg" [alt]="appName" [title]="promptTitle()" class="lnk"
            [class.notify]="hasPrompt()" (click)="appPrompt()" /></h1>
      </div>

      <div class="logout">
        <span class="lnk" (click)="logInOrOut()"
          [title]="(isLoggedIn() ? 'app.top_bar.logout.title' : 'login.login') | translate">
          <i [class]="isLoggedIn() ? 'lnk icon icon-exit' : 'lnk icon icon-user'"></i>
        </span>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>