<div class="top-bar" [hidden]="!isLoggedIn()">
  <div class="menu">
    <button class="btn btn-info" [routerLink]="['/']" [title]="'Go to ' + appName + ' home'">
      <i class="icon-home"></i>
    </button>
  </div>

  <div class="title">
    <h1><img src="./assets/logo.svg" [alt]="appName" /></h1>
  </div>

  <div class="logoff">
    <button class="btn btn-danger" (click)="logoff()">
      <i class="icon-enter"></i>
      Log off
    </button>
  </div>
</div>

<div class="content-container">
  <router-outlet></router-outlet>
</div>