// Theme variables cusomizations
@import "~/scss/variables";

// App styles common to Android and iOS platforms.
@import "~/scss/app-common";

// Style adjustments for iOS
@import "~nativescript-theme-core/scss/platforms/index.ios";

// Font icons
.icomoon {
  font-family: icomoon;
}

// iOS specific app styles
Page {
  margin-top: -20;
}

TextField {
  border-width: 1;
  border-color: black;
}
