@import '../../../../scss/variables';

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li img {
  height: 30px;
}
li span {
  flex-grow: 1;
  display: inline-block;
  padding: 0 1em;
}
li button {
  height: 35px;
  width: 35px;
  line-height: 35px;
  padding: 0;
}

input, select, textarea {
  width: 100%;
}
input[type="color"] {
  padding: 0;
  min-height: 2em;
}
input[type="checkbox"] {
  min-height: 2em;
}
