<div *ngIf="user">
    <label>
        {{ 'entity.user.username' | translate }}
        <input [placeholder]="'entity.user.username_placeholder' | translate" name="username" required autofocus
            autocapitalize="off" autocorrect="off" [disabled]="user.id != null" [(ngModel)]="user.username">
    </label>
    <label>
        {{ 'entity.user.email' | translate }}
        <input [placeholder]="'entity.user.email_placeholder' | translate" name="email" type="email" required
            autocapitalize="off" autocorrect="off" [disabled]="user.id != null" [(ngModel)]="user.email">
    </label>

    <label *ngIf="user.id && user.verified">
        {{ 'entity.user.verified' | translate }}
    </label>
    <div *ngIf="user.id && !user.verified">
        <span></span>
        <button class="button button" (click)="sendToken()">{{ 'register.resend_token' |
            translate }}</button>
    </div>

    <label *ngIf="user.id">
        {{ 'entity.user.active' | translate }}
        <input name="active" type="checkbox" required [disabled]="user.id != null" [(ngModel)]="user.active">
    </label>

    <label *ngIf="busy || rolesAvailable">
        {{ 'entity.user.role' | translate }}
        <i *ngIf="busy" class="icon icon-rotate"></i>
        <select [(ngModel)]="user.role" [disabled]="!rolesAvailable">
            <option *ngFor="let r of items | async" [ngValue]="r.id">{{ r.name }}</option>
        </select>
    </label>

    <div *ngIf="user.id" class="technical-details">
        <label>
            {{ 'entity.id' | translate }}
            <span>{{ user.id }}</span>
        </label>

        <label>
            {{ 'entity.created_at' | translate }}
            <span>{{ user.createdAt | date:'short' }}</span>
        </label>
        <label>
            {{ 'entity.created_by' | translate }}
            <span>{{ user.createdBy }}</span>
        </label>

        <label>
            {{ 'entity.modified_at' | translate }}
            <span>{{ user.modifiedAt | date:'short' }}</span>
        </label>
        <label>
            {{ 'entity.modified_by' | translate }}
            <span>{{ user.modifiedBy }}</span>
        </label>

        <label>
            {{ 'entity.owner' | translate }}
            <span>{{ user.owner }}</span>
        </label>
    </div>

</div>