<div *ngIf="user">
    <label *ngIf="user.id">
        Id:
        <span>{{ user.id }}</span>
    </label>

    <label>
        Username:
        <input placeholder="Username" name="username" required autocapitalize="off" autocorrect="off" [disabled]="user.id != null"
            [(ngModel)]="user.username">
    </label>
    <label>
        Email:
        <input placeholder="Email Address" name="email" type="email" required autocapitalize="off" autocorrect="off" [disabled]="user.id != null"
            [(ngModel)]="user.email">
    </label>

    <label *ngIf="user.id">
        Is verified:
        <span>{{ user.verified }}</span>
    </label>

    <label *ngIf="user.id">
        Is active:
        <span>{{ user.active }}</span>
    </label>

    <label>
        Role:
        <span>{{ user.role }}</span>
    </label>

    <label *ngIf="user.id">
        Created At:
        <span>{{ user.createdAt }}</span>
    </label>
    <label *ngIf="user.id">
        Created By:
        <span>{{ user.createdBy }}</span>
    </label>

    <label *ngIf="user.id">
        Modified At:
        <span>{{ user.modifiedAt }}</span>
    </label>
    <label *ngIf="user.id">
        Modified By:
        <span>{{ user.modifiedBy }}</span>
    </label>

    <label *ngIf="user.id">
        Owner:
        <span>{{ user.owner }}</span>
    </label>

</div>