<div *ngIf="user">
    <label *ngIf="user.id">
        {{ 'entity.id' | translate }}
        <span>{{ user.id }}</span>
    </label>

    <label>
        {{ 'entity.user.username' | translate }}
        <input [placeholder]="'entity.user.username_placeholder' | translate" name="username" required autocapitalize="off"
            autocorrect="off" [disabled]="user.id != null" [(ngModel)]="user.username">
    </label>
    <label>
        {{ 'entity.user.email' | translate }}
        <input [placeholder]="'entity.user.email_placeholder' | translate" name="email" type="email" required
            autocapitalize="off" autocorrect="off" [disabled]="user.id != null" [(ngModel)]="user.email">
    </label>

    <label *ngIf="user.id">
        {{ 'entity.user.verified' | translate }}
        <span>{{ user.verified }}</span>
    </label>

    <label *ngIf="user.id">
        {{ 'entity.user.active' | translate }}
        <span>{{ user.active }}</span>
    </label>

    <label>
        {{ 'entity.user.role' | translate }}
        <span>{{ user.role }}</span>
    </label>

    <label *ngIf="user.id">
        {{ 'entity.created_at' | translate }}
        <span>{{ user.createdAt | date:'short' }}</span>
    </label>
    <label *ngIf="user.id">
        {{ 'entity.created_by' | translate }}
        <span>{{ user.createdBy }}</span>
    </label>

    <label *ngIf="user.id">
        {{ 'entity.modified_at' | translate }}
        <span>{{ user.modifiedAt | date:'short' }}</span>
    </label>
    <label *ngIf="user.id">
        {{ 'entity.modified_by' | translate }}
        <span>{{ user.modifiedBy }}</span>
    </label>

    <label *ngIf="user.id">
        {{ 'entity.owner' | translate }}
        <span>{{ user.owner }}</span>
    </label>

</div>