<ul class="entity-list">
    <li *ngFor="let media of store.items | async | mediaStatus:showSelection">
        <i [class]="'icon ' + imageSource(media)" (click)="toggleSelection(media)"></i>

        <a [routerLink]="allowEdit ? ['/media', media.id] : ['.']" [class.selected]="media.selected && !media.deleted">{{
            media.name }}</a>

        <button *ngIf="allowDelete" [class.hidden]="media.deleted || media.deleting" class="btn-secondary" (click)="delete(media)">
            <i class="icon icon-cross"></i>
        </button>
        <i *ngIf="allowDelete" [class.hidden]="media.deleted || !media.deleting" class="icon-rotate"
            style="font-size: 2em"></i>

    </li>
</ul>
<pagination-controls [pagination]="pagination" (page-change)="load($event)" [first-label]="'app.pagination.first' | translate"
    [prev-label]="'app.pagination.prev' | translate" [next-label]="'app.pagination.next' | translate" [last-label]="'app.pagination.last' | translate"></pagination-controls>