<div class="main-page">
  <h1>{{ 'users.password.reset_password_management' | translate }}</h1>

  <div class="send-token-reset-password-label">
    <a (click)="sendToken()">{{ 'users.password.resend_reset_token' | translate }}</a>
  </div>

  <hr>

  <div>
    <app-change-password #passwordManager [email]="email" [token]="token" [password]="password"></app-change-password>
  </div>

  <hr>

  <form #passwordForm="ng-form" (submit)="submit()">
    <button class="left button is-primary" [disabled]="!passwordForm.form.valid">{{ 'users.password.reset_password' | translate }}</button>
    <button type="button" class="right button is-secondary" (click)="return()">{{ 'app.common.cancel' | translate }}</button>
  </form>

  <app-activity-indicator [message]="'app.activity.loading' | translate" [isLoading]="busy"></app-activity-indicator>
</div>