<div class="list-page">
  <h1>Reset password</h1>

  <div class="send-token-reset-password-label">
    <a (click)="sendToken()">Resend password reset token email</a>
  </div>

  <hr>

  <div>
    <change-password #passwordManager [email]="email" [token]="token" [password]="password"></change-password>
  </div>

  <hr>

  <form #passwordForm="ngForm" (submit)="submit()">
    <button class="left btn-primary" [disabled]="!passwordForm.form.valid">Reset</button>
    <button type="button" class="right btn-secondary" (click)="cancel()">Cancel</button>
  </form>
</div>