@import "~/scss/variables";

.custom-action-bar {
  color: $c-secondary;
  margin-top: 26;
  margin-bottom: 16;
}
.custom-action-bar Label {
  font-size: 21;
  font-weight: bold;
}
.custom-action-bar StackLayout {
  font-size: 32;
  height: 40;
  padding-left: 15;
  padding-right: 15;
  vertical-align: center;
  horizontal-align: center;
}
