<GridLayout columns="auto, *, auto" class="custom-action-bar">
    <!-- Wrap the image in a StackLayout to give it a bigger tap target -->
    <StackLayout col="0" (tap)="goHome()">
        <Label class="icomoon" text="&#xe900;"></Label>
        <!-- FIXME use fonticons classes instead of codes -->
        <!-- 
        <Label class="icomoon" [text]="'icon-home' | fonticon"></Label>
        -->
    </StackLayout>

    <Label col="1" [text]="title"></Label>

    <!-- Wrap the image in a StackLayout to give it a bigger tap target -->
    <StackLayout col="2" (tap)="logoff()">
        <Label class="icomoon" text="&#xea13;"></Label>
        <!-- FIXME use fonticons classes instead of codes -->
        <!-- 
        <Label class="icomoon" [text]="'icon-enter' | fonticon"></Label>
        -->
    </StackLayout>
</GridLayout>