<div class="list-page">
  <h1>Type management</h1>

  <form (submit)="add()">
    <input placeholder="Type name" name="type" type="text" required [(ngModel)]="type">
    <button>Add</button>
  </form>

  <hr>

  <div class="link-container">
    <button (click)="toggleMassDelete()" class="left btn-primary" [class.hidden]="!isConfirmingDeletion" style="float: left;">
      Confirm
    </button>

    <button (click)="isConfirmingDeletion ? cancelMassDelete() : toggleMassDelete()" [class]="isConfirmingDeletion ? 'btn-secondary' : 'btn-primary'"
      style="float: right;">
      {{ isConfirmingDeletion ? 'Cancel' : 'Delete all selected' }}
    </button>
  </div>

  <type-list [showSelection]="isConfirmingDeletion" (loaded)="hideLoadingIndicator()"></type-list>
</div>

<activity-indicator [isLoading]="isLoading"></activity-indicator>