<ul class="entity-list">
    <li *ngFor="let user of store.items | async">
        <i [class]="user.verified ? 'success icon icon-user-check' : 'icon icon-user'"></i>
        <a [routerLink]="allowEdit ? ['/user', user.id] : ['.']" [class.not-verified]="!user.verified"
            [class.not-active]="!user.active">{{ user.username
            }}</a>

        <button *ngIf="allowDelete" [class.hidden]="user.deleted || user.deleting" class="btn-secondary" (click)="delete(user)">
            <i class="icon icon-cross"></i>
        </button>
        <i *ngIf="allowDelete" [class.hidden]="user.deleted || !user.deleting" class="icon icon-rotate"></i>

    </li>
</ul>
<pagination-controls [pagination]="pagination" (page-change)="load($event)" [first-label]="'app.pagination.first' | translate"
    [prev-label]="'app.pagination.prev' | translate" [next-label]="'app.pagination.next' | translate" [last-label]="'app.pagination.last' | translate"></pagination-controls>