<ul class="entity-list">
    <li *ngFor="let user of store.items | async">
        <i [class]="user.verified ? 'icon-user-check' : 'icon-user'"></i>
        <a [class.not-verified]="!user.verified" [routerLink]="allowEdit ? ['/user', user.id] : ['.']">{{ user.username
            }}</a>

        <button *ngIf="allowDelete" [class.hidden]="user.deleted || user.deleting" class="btn-secondary" (click)="delete(user)">
            <i class="icon-cross"></i>
        </button>
        <i *ngIf="allowDelete" [class.hidden]="user.deleted || !user.deleting" class="icon icon-rotate icon-spinner10"></i>

    </li>
</ul>
<pagination-controls [pagination]="pagination" (page-change)="load($event)" [first-label]="'app.pagination.first' | translate"
    [prev-label]="'app.pagination.prev' | translate" [next-label]="'app.pagination.next' | translate" [last-label]="'app.pagination.last' | translate"></pagination-controls>