<ul>
    <li *ngFor="let user of store.items | async">
        <i [class]="user.verified ? 'icon-user-check' : 'icon-user'" style="font-size: 1.5em"></i>
        <a [class.not-verified]="!user.verified" [routerLink]="['/user', user.id]">{{ user.username }}</a>

        <button *ngIf="!user.deleted && !user.deleting" class="btn-secondary" (click)="delete(user)">
            <i class="icon-cross"></i>
        </button>
        <i *ngIf="!user.deleted && user.deleting" class="icon-rotate icon-spinner10" style="font-size: 2em"></i>

    </li>
</ul>
<pagination-controls [pagination]="pagination" (page-change)="load($event)" [first-label]="'app.pagination.first' | translate"
    [prev-label]="'app.pagination.prev' | translate" [next-label]="'app.pagination.next' | translate" [last-label]="'app.pagination.last' | translate"></pagination-controls>