/* You can add global styles to this file, and also import other style files */
@import "scss/variables";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

/* Font Icons */
@import "scss/icomoon";

/* Box Model */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Basic */

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-color: $c-grey-800;
  background-image: url("assets/bg.svg");
  background-repeat: repeat;
  background-size: auto;
}

/* Type */

body, input, select, textarea {
  color: $c-secondary-text;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2em;
}
input {
  font-size: 16px;
  border: solid 1px $c-secondary-border;
  border-radius: 4px;
}

a {
  color: $c-accent;
}

a:active, a:focus, a:hover {
  color: $c-dark-accent;
}

strong, b {
  color: $c-primary-text;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 1.5em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $c-primary-text;
  line-height: 1.5;
  margin: 0 0 0.75em 0;
  text-align: center;
}

h1 {
  font-size: 1.85em;
  letter-spacing: 0.22em;
  margin: 0 0 0.525em 0;
}

hr {
  border: 0;
  border-bottom: solid 1px $c-secondary-border;
  margin: 3em 0 1em 0;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.65em;
  }
}

/* Form */

.center {
  padding-top: 1em;
  text-align: center;
}
label {
  color: $c-primary-text;
  display: block;
  font-weight: bold;
  margin: 0 0 0.75em 0;
}

input, select, textarea {
  padding: 0.3em 0.5em;
}

/* List */
ul {
  list-style: none;
  margin: 0 0 1.5em 0;
  padding-left: 1em;
}

ul li {
  padding-top: 1.5em;
}


/* Button */

button, .btn, [class^="btn-"], [class*=" btn-"] {
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  
  display: inline-block;
  height: 2.75em;
  padding: 0 1.5em;

  cursor: pointer;

  color: $c-primary-contrast;
  font-weight: bold;
  font-size: 1em;
  line-height: 2.75em;

  background-color: transparent;
  background-color: $c-secondary;
  
  border: solid 1px $c-secondary-border;
  border-radius: 4px;
  outline: 0;

  box-shadow: 1px 1px 1px 1px rgba($c-secondary-border, 0.6);
}
.btn:active, .btn:focus, .btn:hover, button:active, button:focus, button:hover {
  background-color: $c-primary;
}

.btn-primary {
  background-color: $c-primary;
  color: $c-accent-contrast;
  border: 0;
  box-shadow: none;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: $c-accent;
}

.btn-secondary {
  color: $c-accent;
  background-color: $c-background;
  border: solid 2px $c-accent;
  font-weight: normal;
}
.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: $c-grey-200;
}

.btn-plain {
  background-color: $c-grey-300;
  color: $c-primary-text;
  font-weight: normal;
}
.btn-plain:active, .btn-plain:focus, .btn-plain:hover {
  background-color: $c-grey-200;
}

.btn-danger {
  background-color: $c-danger;
  color: $c-accent-contrast;
  border: 0;
  box-shadow: none;
}
.btn-danger:active, .btn-danger:focus, .btn-danger:hover {
  background-color: $c-danger-dark;
}

input:disabled, button:disabled {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  opacity: 0.5;
  transition: opacity 1s;
}


/* Splash screen */

.splash_screen {
  height: 100%;
  vertical-align: middle;
  padding: 10%;
}

.splash_screen .logo {
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 1em;
  background: rgba( $c-secondary, .7 );
  box-shadow: 0 0 2em 1em rgba( $c-secondary, .7 );
  border-radius: 1.5em 1.5em 1em 1em;
  
  transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: Blink 1000ms infinite alternate;
  -moz-animation: Blink 1000ms infinite alternate;
  -ms-animation: Blink 1000ms infinite alternate;
  -o-animation: Blink 1000ms infinite alternate;
  animation: Blink 1000ms infinite alternate;
}
@-o-keyframes Blink {
  from {-o-transform:scale(1.0);}
  to {-o-transform:scale(0.9);}
}
@-moz-keyframes Blink {
  from {-moz-transform:scale(1.0);}
  to {-moz-transform:scale(0.9);}
}
@-ms-keyframes Blink {
  from {-ms-transform:scale(1.0);}
  to {-ms-transform:scale(0.9);}
}
@-webkit-keyframes Blink {
  from {-webkit-transform:scale(1.0);}
  to {-webkit-transform:scale(0.9);}
}
@keyframes Blink {
  from { transform:scale(1.0);}
  to { transform:scale(0.9);}
}

/* Main */

.list-page {
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  max-width: 80%;
  margin: 1em auto;
  padding: 2em;
  background: $c-background;
  border-radius: 4px;
  opacity: 0.95;
}
.list-page.dark {
  background-color: $c-background-dark;
}
.list-page.dark h1, .list-page.dark label {
  color: $c-white;
}
.list-page.dark input {
  color: $c-black;
}

@media screen and (max-width: 480px) {
  .list-page {
    max-width: 95%;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.big {
  font-size: 1.35em;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.hidden {
  display: none !important;
}

.text-primary {
  color: $c-primary-text;
}

.text-secondary {
  color: $c-secondary-text;
}
