// Color Variables

// common colors
$c-white: #fff;
$c-black: #000;
$c-danger: #CB1D00;
$c-danger-dark: #991600;

// grey palette
$c-grey-200: #EEEEEE;
$c-grey-300: #E0E0E0;
$c-grey-400: #BDBDBD;
$c-grey-500: #9E9E9E;
$c-grey-800: #424242;

// theme colors
$c-primary: #2e008b;
$c-secondary: #1f005e;
$c-accent: #fc6278;
$c-dark-accent: #fc2140;

$c-primary-text: #313f47;
$c-secondary-text: #757575;

$c-primary-border: #414f57;
$c-secondary-border: #c8cccf;

$c-background: $c-grey-200;
$c-background-dark: #210040;

$c-primary-contrast: $c-grey-200;
$c-accent-contrast: $c-white;

/* Font Icons paths */
$icomoon-font-path: "fonts" !default;
