// Saas Variables

// grey palette
$c-white:    #fff !default;
$c-grey-100: #f8f9fa !default;
$c-grey-200: #e9ecef !default;
$c-grey-300: #dee2e6 !default;
$c-grey-400: #ced4da !default;
$c-grey-500: #adb5bd !default;
$c-grey-600: #6c757d !default;
$c-grey-700: #495057 !default;
$c-grey-800: #343a40 !default;
$c-grey-900: #212529 !default;
$c-black:    #000 !default;


// common colors
$c-blue:    #007bff !default;
$c-indigo:  #6610f2 !default;
$c-purple:  #6f42c1 !default;
$c-pink:    #e83e8c !default;
$c-red:     #dc3545 !default;
$c-orange:  #fd7e14 !default;
$c-yellow:  #ffc107 !default;
$c-green:   #28a745 !default;
$c-teal:    #20c997 !default;
$c-cyan:    #17a2b8 !default;

// theme colors

//$c-primary:       $c-blue !default;
//$c-secondary:     $c-grey-600 !default;

$c-primary: #2e008b !default;
$c-secondary: #1f005e !default;
$c-accent: #fc6278 !default;
$c-dark-accent: #fc2140 !default;

$c-success:       $c-green !default;
$c-info:          $c-cyan !default;
$c-warning:       $c-yellow !default;
$c-danger:        $c-red !default;
$c-light:         $c-grey-100 !default;
$c-dark:          $c-grey-800 !default;

$c-primary-text: $c-grey-800;
$c-secondary-text: $c-grey-600;

$c-primary-border: $c-grey-700;
$c-secondary-border: $c-grey-400;

$c-primary-contrast: $c-grey-200;
$c-accent-contrast: $c-white;

/* Font Icons paths */
$icomoon-font-path: "fonts" !default;

// body

$c-body-background: $c-grey-800;

// main content

$c-main-background: $c-grey-200;
$c-main-background-dark: $c-grey-700;
