@import "../../../scss/variables";

.entity-list {
  margin: 0.5em;
  padding: 0;
  border: 1px solid $c-secondary-border;

  li {
    padding: 0.25em 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px dashed $c-secondary-border;
  }

  li:first-child {
    border-top: none;
  }

  li i.icon {
    font-size: 25px;
  }

  li img {
    height: 30px;
  }

  li span {
    flex-grow: 1;
    display: inline-block;
    padding: 0 1em;
  }

  .selected {
    font-style: italic;
  }

  li button {
    height: 25px;
    width: 25px;
    line-height: 25px;
    padding: 0;
  }
  li button i.icon {
    font-size: 20px;
  }
}
