<ul class="entity-list">
    <li *ngFor="let parameter of store.items | async | parameterStatus:showSelection">
        <i [class]="'icon ' + imageSource(parameter)" (click)="toggleSelection(parameter)"></i>

        <a [routerLink]="['/parameter', parameter.id]" [class.done]="parameter.selected && !parameter.deleted">{{
            parameter.name }}</a>
        <span [class.done]="parameter.selected && !parameter.deleted" [title]="parameter.description">{{
            parameter.value }}</span>

        <button *ngIf="allowDelete" [class.hidden]="parameter.deleted || parameter.deleting" class="btn-secondary" (click)="delete(parameter)">
            <i class="icon-cross"></i>
        </button>
        <i *ngIf="allowDelete" [class.hidden]="parameter.deleted || !parameter.deleting" class="icon icon-rotate icon-spinner10"></i>

    </li>
</ul>
<pagination-controls [pagination]="pagination" (page-change)="load($event)" [first-label]="'app.pagination.first' | translate"
    [prev-label]="'app.pagination.prev' | translate" [next-label]="'app.pagination.next' | translate" [last-label]="'app.pagination.last' | translate"></pagination-controls>