@import "~/scss/variables";

ListView {
  background-color: transparent;
  opacity: 0;
}

.container {
  background-color: $c-main-background;
  margin-top: 1;
}
.tap-target {
  padding-top: 13;
  padding-bottom: 13;
  padding-left: 16;
}
.tap-target Label {
  min-width: 200;
}
.check-box {
  margin-right: 0;
  height: 20;
  font-size: 16;
}
.delete-container {
  padding: 10 15;
  vertical-align: bottom;
}
.delete-container StackLayout {
  padding: 5;
}
.delete-container Image {
  height: 20;
}