<div class="main-page home">
    <h1 class="title text-primary">{{ 'home.welcome' | translate }}</h1>

    <hr>

    <div [class]="cvm.isReady ? 'modules' : 'modules hidden'" class="modules">
        <a class="module" *ngFor="let module of cvm.availablePages" [routerLink]="module.route" routerLinkActive="active">
            <i [class]="'icon ' + module.iconClass"></i>
            {{ module.text | translate }}
        </a>
    </div>

    <activity-indicator [message]="'app.activity.loading' | translate" [isLoading]="!cvm.isReady"></activity-indicator>

    <hr>

    <button class="btn btn-danger" (click)="logoff()">{{ 'home.logout' | translate }}</button>
</div>