@import "~/scss/variables";

Button, Label, StackLayout {
  horizontal-align: center;
}

.title {
  font-size: 30;
  margin: 20;
  color: $c-primary-text;
}

.message {
  font-size: 20;
  text-align: center;
  margin: 0 20;
  color: $c-secondary-text;
}

.modules {
  background-color: transparent;
  opacity: 0;

	flex-direction: row;
	flex-wrap: wrap;
}
.modules > * {
	flex: 0 0 auto;
}

.module {
  background-color: $c-primary;
  color: $c-white;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: auto;
  font-size: 18;
  border-radius: 20;
  margin: 5 1%;
  padding: 10 10 10 10;
  width: 30%;
}

.module:active {
  color: $c-background;
}

.icon {
  font-size: 64;
  padding: 5;
}
