@import '../../scss/variables';

.home {
  .title {
    margin-bottom: 10px;
  }

  .message {
    margin-top: 10px;
  }
}

.modules {
	/* display: flex; */
	flex-direction: row;
	flex-wrap: wrap;
	
	/* Inline-block fallback */
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}
.modules > * {
	flex: 0 0 auto;
	width: 169px;
	height: 169px;
  margin: 15px;
	display: block;  /* IE fix */
	
	/* Inline-block fallback */
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
	text-rendering: auto;
  text-decoration: none;
}

.module {
  transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out, color 0.2s ease-in-out;
  position: relative;
  background-color: transparent;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1em;
  background-color: $c-primary;
  border: solid 3px $c-primary;
  color: $c-primary-contrast;
}
.module:active, .module:focus, .module:hover {
  background-color: rgba($c-main-background, 0.6);
  color: $c-primary;
  border-radius: 100%;
}

.module i {
  display: block;
  max-width: 100%;
  margin: 40px auto 0 auto;
  font-size: 500%;
  box-shadow: 0 0 0 0 rgba($c-main-background, 0);
}

@media screen and (max-width: 768px) {
  .modules > * {
    width: 150px;
    height: 150px;
    margin: 10px;
  }

  .module i {
    margin: 27px auto 0 auto;
    font-size: 500%;
  }
}

@media screen and (max-width: 480px) {
  .modules > * {
    width: 125px;
    height: 125px;
    margin: 5px;
  }

  .module i {
    margin: 19px auto 0 auto;
    font-size: 400%;
  }

  .module:before {
    left: -2em;
    width: calc(100% + 4em);
  }
}
